/* body {
  margin: auto;
} */
.photo {
  display: inline-block;
  border: 1px black solid;
}
ul li {
  display: inline-block;
  text-decoration: none;
}
.col-12 {
  border: 1px black solid;
  padding: 0%;
}
.img1 {
  border-radius: 25%;
}
.new {
  width: 200px;
}

.fa {
  width: 200px;
}
.row {
  margin-top: 20px;
}
strong {
  font-size: 20px;
}
